.image1{
    height: 20%;
    width: 20%;
}

.image2{
    height: 20%;
    width: 20%;
}

.image3{
    height: 20%;
    width: 20%;
}

.image4{
    height: 20%;
    width: 20%;
}

.hero{
    height: 20%;
    width: 20%;
}

body{
    background-color: #332e2e;
    color: white;
    margin: 0;
    padding: 0;
}

.top-navigation{
    background-color: #131212;
    border-bottom: 3px solid #F7F7F7;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.top-navigation img.logopicture{
    height: 60px;
    margin-right: 15px;
}

.top-navigation h1, 
.top-navigation h2{
    margin: 0 20px; 
}

.title-left{
    justify-content: space-between;
    color: #dabe06;
    font-size: 42px;
}

.title-right{
    justify-content: space-between;
    color: #dabe06;
    font-size: 20px;
}

.nav-link{
    color: #dabe06;
    text-decoration: none;
    margin: 0 50px;
    
}

.nav-link:hover{
    background-color: #332e2e;
    color: #F7F7F7;
}

.link-container{
    margin-left: auto;
    display: flex;
    gap: 15px;
}



header{
    margin-bottom: 0;
}